<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tap Music</title>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>
    <div class="app">
        <div class="form-box">
            <p class="text">
                Welcome {{Artist}}</p>

            <div class="bottom-box">

                <div id="btn"></div>
                <button type="button" class="toggle-btn" id="1" onclick="login()">Individual</button>
                <button type="button" class="toggle-btn" id="2" onclick="register()">Common</button>

            </div>

            <form method="POST" id="login" class="input-group">
                <p class="text">Add individual Song</p>
                <input type="text" class="input-field" name="title_of_song" placeholder="title of song" required>
                <input type="text" class="input-field" name="ID_of_song" placeholder="ID of song" required>
                <input type="text" class="input-field" name="which_album" placeholder="which album is it added into?"
                    required>
                <button type=" submit" name="button" value="add_individual_song" class="btn-submit">Add</button>

            </form>
            <form method="POST" id="register" class="input-group">
                <p class="text">Add Command Song</p>


                <input type="text" class="input-field" name="title_of_song" placeholder="title of song" required>
                <input type="text" class="input-field" name="ID_of_song" placeholder="ID of song" required>
                <input type="text" class="input-field" name="which_album" placeholder="which album is it added into?"
                    required>
                <input type="text" class="input-field" name="name_of_assistant" placeholder="name of assistant"
                    required>
                <button type=" submit" name="button" value="add_common_song" class="btn-submit">Add</button>

            </form>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>



</body>

</html>