<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tap Music</title>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error.css') }}">


</head>

<body>
    <div class="app">
        <header>
            <h1>{{masage}}</h1>
            <form method="POST" id="register" class="input-group"><button type=" submit" name="button" value="go"
                    class="btn-submit">Go to Login Page</button></form>

        </header>

</body>

</html>