<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IBABE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_listener.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='smooth-scroll.js') }}"></script>

    </script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
</head>

<body>
    <header id="header">
        <div class="container-fluid p-0">
            <div class="nav-bar">

                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#"><img src="/static/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:5000/login">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#interest">Services</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>


        <div class="container text-center" id="header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="firstpart">
                        <h1 class="text-center"> Welcome {{Listener}}</h1>


                    </div>

                </div>

            </div>
        </div>
        <form method="POST" id="register" class="input-group">

            <div class="container" id="interest">
                <h1 class="text-center">What do you want to do? </h1>

                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button" value="view_all_everything"><i
                                class="fas fa-chart-line"></i><span> View </span>
                            <p>View separately all songs, albums, and artists in DBtify.
                            </p>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button"
                            value="view_all_everything_of_artist"><i class="fas fa-chart-line"></i><span> View </span>
                            <p>View all songs and albums of an artist.
                            </p>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button" value="view_others_liked_song"><i
                                class="fas fa-chart-line"></i><span> View </span>
                            <p>view other listeners’ liked songs as well as his/her liked
                                songs.
                            </p>
                        </button>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button"
                            value="view_popular_song_of_an_artist"><i class="fas fa-chart-line"></i><span> View </span>
                            <p>View popular songs of an artist.
                            </p>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button" value="rank_artists"><i
                                class="fas fa-chart-line"></i><span> View </span>
                            <p>Rank artists by the total number of likes of their songs.
                            </p>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button"
                            value="view_a_song_with_specific_genre"><i class="fas fa-chart-line"></i><span> View </span>
                            <p>View songs of a specific genre.
                            </p>
                        </button>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button" value="Search_a_keyword"><i
                                class="fas fa-chart-line"></i><span> View </span>
                            <p>Search a keyword and view the songs that contain this
                                keyword in their titles.
                            </p>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button" value="view_partners"><i
                                class="fas fa-chart-line"></i><span> View </span>
                            <p>Listeners shall be able to view the artists who produced a song together.
                            </p>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="services-box" name="button" value="like_album_or_song"><i
                                class="fas fa-chart-line"></i><span> Lİke </span>
                            <p>Listeners shall be able to like song or album.
                            </p>
                        </button>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12">
                        <button type="submit" class="services-box" name="button" value="view_all_songs_of_an_album"><i
                                class="fas fa-chart-line"></i><span> View </span>
                            <p>Listeners shall be able to see all songs of an album.
                            </p>
                        </button>
                    </div>

                </div>

            </div>
        </form>

    </header>